body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
}

.jumbotron{
    background-color: white;
}
.container-fluid{
    margin-top: 2%;
    background-image: url(./images/bmi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}
#main-footer{
    color:white;
    background-color: rgba(0, 128, 0, 0.904);
    text-align: center;
    margin-top: 3%;
    width: 100%;
}
#signin{
    color: rgba(0, 128, 0, 0.904);
    background-color: #f4f4f4;
    border-radius: 0.5em;
    background-size: 100px 100px;  
}
.nav-item{
    font-size: 19px;
}

.bg-success{
    
    border-radius: 0.5em; !important;
    
}
.btn-success{
    background-color: rgba(0, 128, 0, 0.904);
    
}
.btn {
    display: flex;
    justify-content: right;
    background-color: rgba(0, 128, 0, 0.904);
    font-size: 18px;
    margin-top: 18%;
    border-radius: 0.5em;
}
.btn:hover{
    color:rgba(0, 128, 0, 0.904) ;
    background-color: white;
}
 div.dropdown-menu.show{
    background: white;
    
}
a.dropdown-item{
    color: rgba(0, 128, 0, 0.904);
    font-size: 15px;
    font-weight: bold;
    
    
    
}
.dropdown-item:hover{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 128, 0, 0.904);
    width: max-content;
    
    
    
}
.navbar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 128, 0, 0.904);
}
.nav{
   
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    font-size: 18px;
}

.logo{
   
    flex: 1 1 auto;
    margin-left: 15.5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    color: white;
    
}
a{
    margin: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.categories{
    padding: 10px;
    background-color: white;
    margin-top: 2%;
    overflow: hidden;
}
.categories h1{
    color:white;
    background-color: rgba(0, 128, 0, 0.904);
    padding-left: 2%;
}
#bmi{
    background-color: rgba(0, 128, 0, 0.904);
    color: white;
    border: none;
    
    padding: 5px;
   

}
#bmiform{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 128, 0, 0.904);
    color: white;
    padding: 2%;
    justify-content: center;
    visibility: hidden;
    
    
}
#bmiform input{
    margin-bottom: 1%;
    margin-left: 40%;
    width: 20%;
    display: flex;
    justify-content: center;
}
#bmiform label{
    display: flex;
    justify-content: center;
}
#bmibtn{
    border-style: solid 1px white;
    background-color: white;
    color: rgba(0, 128, 0, 0.904);
    padding: 2%;
}
#bmitable{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.904);
    color: white;
    text-align: center;
    padding: 2%;
    visibility: hidden;
}
#bmitable th{
    border: 1px solid white;
    margin: 5px;
}
#bmitable td{
    border: 1px solid white;
    margin: 3px;
    padding: 3px;
}
#hideform{
    color: white;
    background-color: rgba(0, 128, 0, 0.904);
    border: none;
    text-decoration: underline;
    visibility: hidden;
}