body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif; 
}
.nav-item{
    font-size: 19px;
}
.navbar{
    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 128, 0, 0.904);
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    font-size: 18px;

}
.nav ul{
    padding: 0;
    list-style: none;
    display: inline;
}
.nav li{
    display: inline;
}
.logo{
   
    flex: 1 1 auto;
    margin-left: 15.5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    
}
a{
    margin: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.categories{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
    overflow: hidden;
}
.header{
    color:white;
    background-color: rgba(0, 128, 0, 0.904);
    padding-left: 2%;
}
.small{
    font-size: 110%;
    color: #282828;
}
.writer{
    color: #282828;
}
.b2{
    width: 340px;
    height: 300px;
    float: left;
    margin-right: 4%;
   
    overflow: hidden;
}
.b2 img{
    display: block;
    transition: transform .4s; 
}
.b2:hover img{
    transform: scale(1.2);
    transform-origin: 50% 50%;
}
.b2 a{
    margin: 0px;
}
.b3{
    width: 60%;
    height: 300px;
    float: left;
    border-top: 1px solid rgba(0, 128, 0, 0.904);
    border-bottom: 1px solid rgba(0, 128, 0, 0.904);

    overflow: hidden;
}
.b3 a{
    margin: 0px;
    color: black;
    text-decoration: none;
    text-transform: none;
}
.b3 a:hover{
    color: rgba(0, 128, 0, 0.904);
}
.b1{
    width: 100%;
    height: 290px;
    padding-bottom: 1.5%;
    margin-bottom: 2%;
    
    overflow: hidden;
}
.conteiner{
    padding-top: 7.5%;
    overflow: hidden;
}
#main-footer{
    color:white;
    background-color: rgba(0, 128, 0, 0.904);
    text-align: center;
    margin-top: 3%;
}
#signin{
    color: rgba(0, 128, 0, 0.904);
    background-color: #f4f4f4;
    border-radius: 0.5em;
    background-size: 100px 100px;  
}
@media(max-width:1400px){
    .b3{
        width: none;
        height: none;
        float: none;
    }
}
