body{
    background: url(./images/bg_for_contact2.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

html{
    height: 100%;
}

.container{
    margin-top: 10em;
    width: 30%;
    padding-bottom: 1em;
    padding-top: 0.5em;
    border-radius: 1em;
    background-color:rgb(0,255,127) ;
    position: relative;
}

.btn button[type="submit"]:hover{
    cursor: pointer;
    background : rgb(0,191,255);
    color:white;
}

@media only screen and (max-height: 700px){
    body{
    background: url(./images/bg_for_contact.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    }

    .container{
        margin-top: 1em;

    }
}

@media only screen and (max-width: 1300px){
    .container{
        width: 50%;
    }
}

@media only screen and (max-width: 800px){
    .container{
        width: 70%;
    }
}