body {
  background-image: url(./images/regibg.jpg);
  background-color: rgb(0, 255, 127);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Times New Roman", Times, serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.avatar {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

/*logo*/
.logo {
  width: 320px;
  text-decoration: none;
  flex: 1 1 auto;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
  color: rgba(50, 205, 50, 0.5);
  background-color: rgba(240, 255, 255, 0.7);

  top: 7%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 1%;
  text-align: center;
}
.logo:hover {
  cursor: pointer;
  color: rgba(0, 128, 0, 0.904);
}
/*Container*/
.container h2 {
  text-align: center;
  font-size: 30px;
}
.container a {
  position: absolute;
  text-decoration: none;
  top: 53%;
  left: 70%;
  font-family: "Times New Roman", Times, serif;
}
.container {
  width: 35%;
  height: 50%;
  background: rgba(240, 255, 255, 0.7);

  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  /*padding: 70px 30px;*/
  padding: 3em;
  border-radius: 1em;
  font-family: "Times New Roman", Times, serif;
}
.container input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  margin: 0 60px 40px;
  font-weight: bold;
}
.container ::placeholder {
  font-family: "Times New Roman", Times, serif;
}
/*Send*/
.send {
  position: absolute;
  top: 30%;
  left: 60%;
}
.send input[type="submit"] {
  border: none;
  outline: none;
  height: 80px;
  width: 170px;
  background: rgba(0, 128, 0, 0.904);
  color: #fff;
  font-size: 30px;
  border-radius: 50px;
  font-family: "Times New Roman", Times, serif;
}
.send input[type="submit"]:hover {
  cursor: pointer;
  background: rgb(0, 191, 255);
  color: white;
}
.formbox {
  width: 320px;
  height: 350px;
  padding: 65px 0 20px;
  font-family: "Times New Roman", Times, serif;
}

#button1 {
  position: absolute;
  top: 50%;
  left: 62%;
}
#button2 {
  position: absolute;
  top: 60%;
  left: 62%;
}
#email {
  display: none;
}
#confirm-password {
  display: none;
}
#text-lost {
  position: absolute;
  left: 5%;
  top: 80%;
  color: rgba(0, 128, 0, 0.904);
  visibility: hidden;
}
.error {
  background: orangered;
  color: #fff;
}
#remember {
  position: absolute;
  left: 60%;
  top: 60%;
  color: rgba(0, 128, 0, 0.904);
  visibility: hidden;
}
/*responsiveness
Height*/
@media only screen and (max-height: 830px) {
  .container {
    height: 60%;
  }
}
@media only screen and (max-height: 700px) {
  .container {
    height: 65%;
  }
}

@media only screen and (max-height: 650px) {
  .container {
    height: max-content;
  }
  .logo {
    display: none;
  }
  .avatar {
    display: none;
  }
}
/* Width*/
@media only screen and (max-width: 1600px) {
  .container {
    display: inline-block;
    position: absolute;
    width: 45%;
  }
}
@media only screen and (max-width: 1248px) {
  .container {
    display: inline-block;
    position: absolute;
    width: 60%;
  }
  .container h4 {
    left: 61%;
  }
  .logo {
    background-color: white;
  }
}

@media only screen and (max-width: 820px) {
  .container {
    display: inline-block;
    position: absolute;
    width: 80%;
  }
}

@media only screen and (max-width: 630px) {
  .container {
    display: inline-block;
    position: absolute;
    width: 100%;
  }
}
