body{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 254, 242,0.7) ;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    background-image: url('./images/health2.jpg');
    background-repeat: no-repeat;
    background-position: left;
    padding: 23%; 
    margin: none;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
    z-index: 1;
    background-color: rgba(0, 128, 0, 0.904);
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    font-size: 18px;
}
.nav ul{
    padding: 0;
    list-style: none;
    display: inline;
}
.nav li{
    display: inline;
}
.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
a{
    margin: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.categories{
    padding: 10px;
    background-color: white;
    margin-top: 2%;
    overflow: hidden;
}
.categories h1{
    color:white;
    background-color: rgba(0, 128, 0, 0.904);
    padding-left: 2%;
}
.conteiner{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
.b1{
    
    width: 34%;
    float: left;
    margin-right: 5%;
    
}

#main-footer{
    color:white;
    background-color: rgba(0, 128, 0, 0.904);
    text-align: center;
    margin-top: 3%;
}
.my-form input{
    border-radius: 5px;
    color: rgba(0, 128, 0, 0.904);
    padding: 10px 15px;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}
